/.Rproj.user
/R Markdown/.Rproj.user
.Renviron
apps/job_scout_app/.shinychat/conversations/querychat_scout_postings-chat-f359c1792522/b5d2d4d8-e66f-4a64-bc09-0e488548c919-8f9a7a82c758/c_001a0aabcdee7473ff18790/record.json
